<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <% include templates/head.ejs%>
    </head>

    <body>

        <div>
            <% include templates/navbar.ejs %>

        </div>




        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    xfbml            : true,
                    version          : 'v3.2'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
             attribution=setup_tool
             page_id="165095787418592"
             theme_color="#44bec7"
             logged_in_greeting="¡Hola! ¿Te puedo ayudar en algo?"
             logged_out_greeting="¡Hola! ¿Te puedo ayudar en algo?">
        </div>





        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <!--<h1>BIENVENIDOS A TIC'S</h1>-->
                </div>
            </div>

            <header class="row">
                <div class="col-lg-12 text-center">
                    <img src="/img/hola.png" alt="Hoolis!!" class="animated bounceIn" height="300px">
                    <br>
                <h2 class="coti">     Soy COTI, el bot del COBAO 31</h2>
                </div>
            </header>

        </div>

        <br><br><br>


        <!-- SECTION ONE -->

        <div class="container-fluid">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-md-6">
                    <img src="/img/chatbot.png" alt="Holis!" class="animated zoomIn" height="300px">
                </div>
                <div class="col-md-3">
                    <h3>Hola Mundo!!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                        Quisque tempor, massa in varius molestie, nisl augue interdum augue,<br>
                        id commodo metus lorem nec purus. Quisque at turpis in orci commodo.
                    </p>
                </div>
                <div class="col-md-3">
                    <a href="#"><i class="fa fa-code fa-8x animated infinite bounce"></i><br><br>
                        Click para probar el Chat
                    </a>
                </div>
                <br>
            </div>
        </div>

        <% include templates/footer.ejs %>
    </body>
</html>